# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.manifest
*.spec
*.env
venv/
.env
.ipynb_checkpoints

# Data
data/

# Jupyter
*.ipynb_checkpoints

# VS Code
.vscode/

# Models
models/
